/* Boxes */

/* Outer box */

.wiidatabase-box {
    overflow: hidden;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    line-height: 1.5;
    padding: 1.25rem 1.25rem 1rem 1.75rem;
    position: relative;
}

.wiidatabase-box::before {
    background-color: #adadad;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: .5rem;
}

.wiidatabase-box-slim {
    padding-bottom: .5rem;
    padding-top: .5rem;
}

/* Body */

.wiidatabase-box-body {
    display: table-cell;
    vertical-align: top;
}

/* Header */

.wiidatabase-box-heading {
    margin-top: 0;
}

/* Colors */

/* Info */

.wiidatabase-box-info {
    background-color: #e7f6f8;
}

.wiidatabase-box-info::before {
    background-color: #00bde3;
}

/* Warning */

.wiidatabase-box-warning {
    background-color: #faf3d1;
}

.wiidatabase-box-warning::before {
    background-color: #ffbe2e;
}

/* Danger/Error */

.wiidatabase-box-danger {
    background-color: #f4e3db;
}

.wiidatabase-box-danger::before {
    background-color: #d54309;
}

/* Success */

.wiidatabase-box-success {
    background-color: #ecf3ec;
}

.wiidatabase-box-success::before {
    background-color: #00a91c;
}

/* Spoiler */

/* Whole spoiler box */

details {
    border: 1px solid #aaa;
    background-color: #f0f0f0;
    margin: .2rem;
}

/* Spoiler header */

details>summary {
    font-weight: bold;
    list-style: none;
    user-select: none;
}

/* 'list-style: none' for WebKit browsers */

details>summary::-webkit-details-marker {
    display: none;
}

details>summary:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

/* Collapsed */

details>summary::before {
    padding-left: .25rem;
    padding-right: .25rem;
    content: '+';
}

/* Open */

details[open]>summary::before {
    padding-right: .5rem;
    content: '–';
}

details[open]>summary {
    background-color: #e6e6e6;
    border-bottom: 1px solid #aaa;
}

/* Body */

.spoiler-body {
    padding: .5rem;
}
