/* Outer box */

.wiidatabase-box {
    margin-top: 1rem;
    line-height: 1.5;
    padding: 1.25rem 1.25rem 1rem 1.75rem;
    position: relative;
}

.wiidatabase-box::before {
    background-color: #adadad;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: .5rem;
}

.wiidatabase-box-slim {
    padding-bottom: .5rem;
    padding-top: .5rem;
}

/* Body */

.wiidatabase-box-body {
    display: table-cell;
    vertical-align: top;
}

/* Header */

.wiidatabase-box-heading {
    margin-top: 0;
}

/* Colors */

/* Info */

.wiidatabase-box-info {
    background-color: #e7f6f8;
}

.wiidatabase-box-info::before {
    background-color: #00bde3;
}

/* Warning */

.wiidatabase-box-warning {
    background-color: #faf3d1;
}

.wiidatabase-box-warning::before {
    background-color: #ffbe2e;
}

/* Danger/Error */

.wiidatabase-box-danger {
    background-color: #f4e3db;
}

.wiidatabase-box-danger::before {
    background-color: #d54309;
}

/* Success */

.wiidatabase-box-success {
    background-color: #ecf3ec;
}

.wiidatabase-box-success::before {
    background-color: #00a91c;
}
